<div [@routerTransition]>
  
  
  
                <div class="kt-subheader kt-grid__item">
                  
                    <div class="kt-subheader__main">
                        <h3 class="kt-subheader__title">
                            <span>{{l("Orders")}}</span>
                        </h3>
                        <span class="kt-subheader__separator kt-subheader__separator--v"></span>
                        <span class="kt-subheader__desc">
                            {{l("OrdersHeaderInfo")}}
                        </span>
                    </div>
                    <div class="kt-subheader__toolbar">
                        <div class="kt-subheader__wrapper">
            				<button *ngIf="isGranted('Pages.Orders.Create')" (click)="createOrder()" 
            			class="btn btn-primary blue"><i class="fa fa-plus"></i> {{l("CreateNewOrder")}}</button>
                        </div>
                    </div>
                  
                </div>
            
    
    <div class="kt-content">
        <div class="kt-portlet kt-portlet--mobile">
            <div class="kt-portlet__body">
                <form class="kt-form" autocomplete="off">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-12">
                                
                <div class="form-group m-form__group align-items-center">
                    <div class="input-group">
                    <input [(ngModel)]="filterText" name="filterText" autoFocus class="form-control m-input" [placeholder]="l('SearchWithThreeDot')" type="text">
                        <span class="input-group-btn">
                            <button (click)="getOrders()" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                        </span>
                    </div>
                </div>
        	
                                
                            </div>
                        </div>
						 <div class="row" [hidden]="!advancedFiltersAreShown">
						 	<div class="col-md-12">
						         <div class="kt-separator kt-separator--border-dashed"></div>
						     </div>


                            <div class="col-md-3">
                                <div class="form-group">
									<label  for="MinOrderDateFilter">{{l("OrderDateRange")}}</label>
									<div class="input-group">
                                        <input class="form-control m-input" id="MinOrderDateFilter" name="MinOrderDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MinValue')}}" [(ngModel)]="minOrderDateFilter">
			                            <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                        <input class="form-control m-input" id="MaxOrderDateFilter" name="MaxOrderDateFilter" type="datetime" bsDatepicker  placeholder="{{l('MaxValue')}}" [(ngModel)]="maxOrderDateFilter">
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="DescriptionFilter">{{l("Description")}}</label>
									<input type="text" class="form-control" id="DescriptionFilter" name="descriptionFilter" [(ngModel)]="descriptionFilter">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="StatusFilter">{{l("Status")}}</label>
									<input type="text" class="form-control" id="StatusFilter" name="statusFilter" [(ngModel)]="statusFilter">
								</div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
									<label for="MinTotalBillFilter">{{l("MinMax")}} {{l("TotalBill")}}</label>
									<div class="input-group">
                                        <input type="number" class="form-control" id="MinTotalBillFilter" [(ngModel)]="minTotalBillFilter" placeholder="{{l('MinValue')}}" name="minTotalBillFilter" />
                                        <input type="number" class="form-control" [(ngModel)]="maxTotalBillFilter" placeholder="{{l('MaxValue')}}" name="maxTotalBillFilter" />
									</div>
                                </div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="OrderNameFilter">{{l("OrderName")}}</label>
									<input type="text" class="form-control" id="OrderNameFilter" name="orderNameFilter" [(ngModel)]="orderNameFilter">
								</div>
                            </div>


							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilter">({{l("User")}}) {{l("Name")}}</label>
									<input type="text" class="form-control" id="UserNameFilter" name="userNameFilter" [(ngModel)]="userNameFilter">
                                </div>
                            </div>


                        </div>
                        <div class="row my-4">
                            <div class="col-sm-12">
                                <span class="clickable-item text-muted" *ngIf="!advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-down"></i> {{l("ShowAdvancedFilters")}}</span>
                                <span class="clickable-item text-muted" *ngIf="advancedFiltersAreShown" (click)="advancedFiltersAreShown=!advancedFiltersAreShown"><i class="fa fa-angle-up"></i> {{l("HideAdvancedFilters")}}</span>
                            </div>
                        </div>
                    </div>
                </form>

                <div class="row align-items-center">
                    <!--<Primeng-Datatable-Start>-->
                    <div class="primeng-datatable-container col-12"
                         [busyIf]="primengTableHelper.isLoading">
                        <p-table #dataTable
                                     (onLazyLoad)="getOrders($event)"
                                     [value]="primengTableHelper.records"
                                     rows="{{primengTableHelper.defaultRecordsCountPerPage}}"
                                     [paginator]="false"
                                     [lazy]="true"
                                     [scrollable]="true"
                                     ScrollWidth="100%"
                                     [responsive]="primengTableHelper.isResponsive"
                                     [resizableColumns]="primengTableHelper.resizableColumns">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 130px" [hidden]="!isGrantedAny('Pages.Orders.Edit', 'Pages.Orders.Delete')">{{l('Actions')}}</th>
                                    <th style="width: 150px" pSortableColumn="orderByFk.name">
                                        {{l('Name')}}
                                        <p-sortIcon field="userName"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="orderDate">
                                        {{l('OrderDate')}}
                                        <p-sortIcon field="order.orderDate"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="description">
                                        {{l('Description')}}
                                        <p-sortIcon field="order.description"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="status">
                                        {{l('Status')}}
                                        <p-sortIcon field="order.status"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="totalBill">
                                        {{l('TotalBill')}}
                                        <p-sortIcon field="order.totalBill"></p-sortIcon>
                                    </th>
                                    <th style="width: 150px" pSortableColumn="orderName">
                                        {{l('OrderName')}}
                                        <p-sortIcon field="order.orderName"></p-sortIcon>
                                    </th>

                 <th style="width:50px"></th>
                                </tr>
                            </ng-template>                           
							<ng-template pTemplate="body" let-record="$implicit" let-i="rowIndex">
                                <tr>
                                    <td style="width: 130px"
                                        [hidden]="!isGrantedAny('Pages.Orders.Edit', 'Pages.Orders.Delete')">
                                       <div class="btn-group dropdown" dropdown container="body">
                                            <button class="dropdown-toggle btn btn-sm btn-primary" dropdownToggle>
                                                <i class="fa fa-cog"></i><span class="caret"></span> {{l("Actions")}}
                                            </button>
												<ul class="dropdown-menu"  *dropdownMenu>
												<li>
													<a href="javascript:;" 
														(click)="viewOrderModal.show(record)">{{l('View')}}</a>
												</li>
												<li>
                                                <a href="javascript:;" *ngIf="permission.isGranted('Pages.Orders.Edit')" 
														(click)="createOrEditOrderModal.show(record.order.id)">{{l('Edit')}}</a>												
                                                </li>
												<li>
											        <a  href="javascript:;" *ngIf="permission.isGranted('Pages.Orders.Delete')"
														(click)="deleteOrder(record.order)">{{l('Delete')}}</a>
												</li>
                                            </ul>
                                        </div>
                                    </td>
                                    <td style="width:150px">
												<span class="ui-column-title"> {{l('Name')}}</span>
												{{record.userName}}
											</td>
                                    <td style="width:150px">
										<span class="ui-column-title"> {{l('OrderDate')}}</span>
                                        <span *ngIf="record.order.orderDate">
											{{record.order.orderDate |  momentFormat:'L' }}
                                        </span>
                                        <span *ngIf="!record.order.orderDate">-</span>
                                    </td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Description')}}</span>
											{{record.order.description}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('Status')}}</span>
											{{record.order.status}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('TotalBill')}}</span>
											{{record.order.totalBill}}
										</td>
                                    <td style="width:150px">
											<span class="ui-column-title"> {{l('OrderName')}}</span>
											{{record.order.orderName}}
										</td>

                     <td style="width:50px">
                       <button class="btn btn-primary btn-xs" (click)="openChildRowForOrderItem(i,'OrderItem_OrderId');">{{'EditOrderItem' | localize}}</button>
                     </td>
                 
                                </tr>
                               
                     <tr *ngIf="orderItemRowSelection[i] && childEntitySelection['OrderItem_OrderId']">
                         <td colspan="8">
                             <masterDetailChild_Order_orderItems-component
                             [orderId]="record.order.id">
                             </masterDetailChild_Order_orderItems-component>
                         </td>
                     </tr>
                 
                            </ng-template>
                        </p-table>
						<div class="primeng-no-data" *ngIf="primengTableHelper.totalRecordsCount == 0">
                            {{l('NoData')}}
                        </div>
                        <div class="primeng-paging-container">
                            <p-paginator [rows]="primengTableHelper.defaultRecordsCountPerPage"
                                         #paginator
                                         (onPageChange)="getOrders($event)"
                                         [totalRecords]="primengTableHelper.totalRecordsCount"
                                         [rowsPerPageOptions]="primengTableHelper.predefinedRecordsCountPerPage"
                                         [showCurrentPageReport]="true"
                                         [currentPageReportTemplate]="'TotalRecordsCount' | localize:primengTableHelper.totalRecordsCount"    
                            >
                            </p-paginator>
                        </div>
                    </div>
                    <!--<Primeng-Datatable-End>-->
                </div>
            </div>
        </div>
    </div>
    <createOrEditOrderModal #createOrEditOrderModal (modalSave)="getOrders()"></createOrEditOrderModal>    
    <viewOrderModal #viewOrderModal></viewOrderModal>
    
  
</div>
